nav {
    max-width: 600px;
    width: 100%;
    margin: auto;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    height: 3em;
}

nav .logo {
    font-weight: bolder;
}

nav a {
    text-decoration: none;
    padding: 1em;
    background-color: #00000000;
    color: black;
}

nav a:hover {
    text-decoration: none;
    padding: 1em;
    color: white;
    background-color: #00000065;
}